{% extends 'base.html' %}

{% block title %} Movies Available {% endblock title %}

{% block content %}


{% load static %}


        <!--Use card for the tilings -->
        <div class="container">
            <div class="row">
                {% for movie in object_list %}
                    {% if forloop.counter0|divisibleby:3 and not forloop.first %}<div class="w-100"></div>{% endif %}
                    <div class="col">
                        <h2><a href="{{ movie.web_url }}">{{ movie.title }}</a></h2>
                        <a href="{% url 'movie_detail' movie.pk %}">

                            <img src="{{ movie.photo.url }}" width="220" height="342"> 
                        </a>       
                            <p> This movie is rated  :{{ movie.ratings }}</p>
                            {% if user.is_superuser %}
                            <div>
                                <a href="{% url 'movie_edit' movie.pk %}" class="btn btn-info" role="button"> Edit </a>
                                <a href="{% url 'movie_delete' movie.pk %}" class="btn btn-danger" role="button"> Delete </a>
                            </div>
                            {% endif %}
        
                    </div>


                {% endfor %}
            </div>
        </div>
 
{% endblock content %}
